html {
  min-height: 100%;
}

body {
  min-height: 100%;
  padding-top: 40px;
  padding-bottom: 40px;

}
body {
  margin: 0;
  /* this font size will effect all elements (other than h1 -> h6) on the page */
  font-size: 21px;
}

/* ========
Typography 
======== */

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

/* ========
Layout 
======== */

header {
  background-image: url("/image/bg.jpg");
  color: #fff;
  padding: 30px 0;
  text-align: center;
}
.social-icons-row {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
}
.avatar-image {
  width: 128px;
  height: 128px;
  object-fit: cover;
  border-radius: 128px;
}

.thumb {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  object-fit: cover;
}

.intro {
  width: 500px;
  margin: 100px auto;
  text-align: center;
}

.my-skills {
  background-color: #1D3C41;
  color: #fff;
  padding: 75px 0;
  text-align: center;
}

.columns {
  display: flex;
}

.column {
  margin: 0 10px;
}
